.accountMenu {
  position: relative;
  display: flex;
  align-items: center;

  &__trigger {
    width: 60px;
    height: 55px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #1f2937;
  }

  &__text {
    font-size: 15px;
    font-weight: 500;
    color: #1f2937;
  }

  &__icon {
    width: 28px;
    height: 28px;
  }

  &__dropdown {
    position: absolute;
    top: 120%;
    right: -55%;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
  }
}
