@use "../../styles/abstracts/breakpoints" as bp;

.logoSecondary {
  &__link {
    display: flex;
    flex-direction: column;
    width: 240px;
    text-decoration: none;
  }

  &__logo {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  &__icon {
    width: 14px;
    height: auto;
  }
}

@media (min-width: bp.$bp-tablet) {
  .logoSecondary {
    &__link {
      width: 190px;
    }

    &__description {
      font-size: 11px;
    }
  }
}

@media (min-width: bp.$bp-desktop) {
  .logoSecondary {
    &__link {
      width: 240px;
    }

    &__description {
      font-size: 14px;
    }
  }
}
