@use "../../styles/breakpoints.scss" as bp;

.logoSecondary {
  &__link {
    display: flex;
    flex-direction: column;
    width: 240px;
    text-decoration: none;
  }

  &__description {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
  }

  &__logo {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  &__icon {
    width: 14px;
    height: auto;
  }
}

@media (min-width: bp.$bp-tablet) {
  .logoSecondary {
    &__link {
      width: 190px;
    }

    &__description {
      font-size: 11px;
    }
  }
}

@media (min-width: bp.$bp-desktop) {
  .logoSecondary {
    &__link {
      width: 240px;
    }

    &__description {
      font-size: 14px;
    }
  }
}
