@use "../abstracts/breakpoints" as bp;

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: var(--space-4);
}

@media (min-width: bp.$bp-tablet) {
  .container {
    padding-inline: var(--space-6);
  }
}

@media (min-width: bp.$bp-desktop) {
  .container {
    padding-inline: var(--space-10);
  }
}
