.userMenu {
  position: relative;
  z-index: 9999;
}

.menu {
  position: absolute;
  top: calc(100% + 15px);
  right: 0px;

  width: 280px;

  background: var(--color-surface-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  box-shadow: var(--shadow-lg);

  transform-origin: top center;
  animation: dropdownOpen 180ms ease-out;

  z-index: 9999;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);

  z-index: 9998;
}
