.registerButton {
  background-color: #f1efef;
  border: 2px solid #1f2937;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  transition: background-color 250ms ease-in-out;
  text-decoration: none;
  color: #1f2937;
  text-align: center;
}

.registerButton:focus,
.registerButton:hover {
  background-color: #acb2b9;
}
