:root {
  --z-base: 1;

  --z-dropdown: 100;
  --z-sticky: 500;

  --z-header: 1000;

  --z-modal-backdrop: 2000;
  --z-modal: 2100;

  --z-toast: 3000;

  //* BACKDROP *//
  --z-page: 1;

  --z-backdrop: 900;
  --z-mobile-menu: 950;
  --z-header: 1000;

  --z-dropdown: 1050;
  --z-modal: 1100;
  --z-toast: 1200;
}
