.aboutUs {
  display: flex;
  flex-direction: column;
  width: 200px;

  &__title {
    margin: 0;
    color: #077ddd;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__link {
    display: inline-block;
    color: #f1efef;
    text-decoration: none;
    margin-left: 10px;
    transition: transform 100ms ease-in-out;

    &:focus,
    &:hover {
      text-decoration: underline;
      color: #acb2b9;
      transform: scale(1.03);
    }
  }
}
