@use "../../styles/breakpoints.scss" as bp;

.footer {
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 35px;

  &__backgroundContainer {
    background-color: #222831;
    box-shadow:
      inset 0 20px 40px rgba(0, 0, 0, 0.35),
      inset 0 -20px 40px rgba(0, 0, 0, 0.45),
      2px 2px 8px rgba(0, 0, 0, 0.8);
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__authButtons {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__legal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }

  &__legal a {
    text-decoration: none;
    color: black;
  }

  &__legalList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  &__legalLink {
    text-decoration: none;
    color: black;
  }

  &__legalItem:not(:last-child)::after {
    content: "•";
    margin: 0 8px;
    color: black;
  }

  &__slogan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__slogan p {
    margin: 0;
  }
}

@media (min-width: bp.$bp-tablet) {
  .footer {
    &__legal {
      flex-direction: row;
    }

    &__content {
      flex-direction: row;
      align-items: flex-start;
    }

    &__authButtons {
      width: 190px;
    }
  }
}

@media (min-width: bp.$bp-desktop) {
  .footer {
    padding: 15px;

    &__legal {
      flex-direction: row;
    }

    &__backgroundContainer {
      border-radius: 4px;
    }

    &__content {
      flex-direction: row;
    }

    &__authButtons {
      width: 240px;
    }
  }
}
