.footer {
  width: 100%;
  height: 300px;
  padding: 15px;
  padding-bottom: 35px;

  &__backgroundContainer {
    background-color: #222831;
    box-shadow:
      inset 0 20px 40px rgba(0, 0, 0, 0.35),
      inset 0 -20px 40px rgba(0, 0, 0, 0.45),
      2px 2px 8px rgba(0, 0, 0, 0.8);
    height: 100%;
    border-radius: 4px;
    padding-top: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__authButtons {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__legal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }

  &__legal a {
    text-decoration: none;
    color: black;
  }

  &__legalList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  &__legalLink {
    text-decoration: none;
    color: black;
  }

  &__legalItem:not(:last-child)::after {
    content: "•";
    margin: 0 8px;
    color: black;
  }

  &__slogan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__slogan p {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .footer__legal {
    flex-direction: column;
  }
}
