@use "../../styles/breakpoints.scss" as *;

.searchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 15px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

  &__type {
    border-radius: 4px;
    height: 25px;
    margin-bottom: 5px;
    background-color: #f1efef;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  &__input {
    border-radius: 4px;
    height: 25px;
    margin-bottom: 5px;
    background-color: #f1efef;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  &__submitButton {
    padding: 8px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background-color: #f1efef;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
  }

  &__submitButton:focus,
  &__submitButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &__icon {
    width: 15px;
    height: auto;
  }
}
