.success {
  &__headBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0px;
    text-align: center;
    color: #16191d;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  &__icon {
    color: #16191d;
  }

  &__description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #16191d;
    font-size: 16px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  &__button {
    padding: 8px 15px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background-color: #f1efef;
    cursor: pointer;
    color: #1f2937;
    font-weight: 600;
    transition: background-color 250ms ease-in-out;
    gap: 10px;

    &:focus,
    &:hover {
      background-color: #acb2b9;
    }
  }
}
