.aboutSidebar {
  display: flex;
  flex-direction: column;

  &__link {
    color: black;
    text-decoration: none;
  }

  &__link:focus,
  &__link:hover {
    color: #acb2b9;
    text-decoration: underline;
    scale: calc(1.03);
  }
}
