.aboutSidebar {
  display: flex;
  flex-direction: column;
  background-color: #f1efef;
  align-items: center;
  border-radius: 4px;

  &__list {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  &__link {
    color: black;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #acb2b9;
      text-decoration: underline;
      scale: calc(1.03);
    }
  }
}
