.wrapper {
  position: relative;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #111;
  gap: 5px;

  &:hover {
    opacity: 0.7;
  }
}

.chevron {
  transition: transform 0.2s ease;
}

.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 105%;
  left: 0;

  background: white;
  border-radius: 4px;
  padding: 8px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 180px;
  z-index: 999;
  animation: dropdownFade 0.15s ease;

  a {
    text-decoration: none;
    color: black;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: #f3f4f6;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownFadeLeft {
  from {
    opacity: 0;
    transform: translateX(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.active {
  font-weight: 600;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 6px;
  width: 89%;
  height: 2px;
  background: black;
}

//-----------------------------------------

.dropdownItem {
  position: relative;
}

.dropdownItem a {
  display: block;
  width: 100%;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu {
  position: absolute;
  top: -10px;
  left: 100%;
  background: white;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
  min-width: 200px;
  z-index: 10;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  animation: dropdownFadeLeft 0.15s ease;
}

.dropdown a span {
  color: #6b7280;
  font-weight: 400;
}

.dropdownItem svg {
  transition: transform 0.2s ease;
}
