.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo {
  width: auto;
  height: 60px;
}
.authLinks {
  display: flex;
  gap: 12px;
}
