@use "../../styles/breakpoints.scss" as bp;

.media {
  display: flex;
  flex-direction: column;
  width: 200px;

  &__title {
    margin: 0;
    color: #077ddd;
    margin-bottom: 5px;
  }

  &__list {
    display: flex;
    gap: 15px;
    margin: 0;
    padding-left: 0;
    justify-content: center;
  }

  &__item {
    list-style: none;
    margin-left: 0;
  }

  &__item a {
    margin-left: 0;
  }

  &__link {
    color: #f1efef;
    font-size: 28px;
    transition:
      color 200ms ease-in-out,
      scale 200ms ease-in-out;
    display: inline-flex;
    margin-left: 10px;

    &:focus,
    &:hover {
      scale: calc(1.15);
    }

    &--facebook:focus,
    &--facebook:hover {
      color: #0866ff;
    }

    &--linkedin:focus,
    &--linkedin:hover {
      color: #0a66c2;
    }

    &--instagram:focus,
    &--instagram:hover {
      color: #e1306c;
    }
  }
}

@media (min-width: bp.$bp-tablet) {
  .media {
    width: 120px;
    &__list {
      flex-direction: column;
    }

    &__list {
      align-items: center;
    }
  }
}

@media (min-width: bp.$bp-desktop) {
  .media {
    width: 200px;
    &__list {
      flex-direction: row;
    }

    &__list {
      margin-left: 10px;
      justify-content: flex-start;
    }
  }
}
