.media {
  display: flex;
  flex-direction: column;
  width: 200px;

  &__title {
    margin: 0;
    color: #077ddd;
    margin-bottom: 5px;
  }

  &__list {
    display: flex;
    gap: 15px;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    color: #f1efef;
    font-size: 28px;
    transition:
      color 200ms ease-in-out,
      scale 200ms ease-in-out;
    display: inline-flex;
    margin-left: 10px;

    &:focus,
    &:hover {
      scale: calc(1.15);
    }

    &--facebook:focus,
    &--facebook:hover {
      color: #0866ff;
    }

    &--linkedin:focus,
    &--linkedin:hover {
      color: #0a66c2;
    }

    &--instagram:focus,
    &--instagram:hover {
      color: #e1306c;
    }
  }
}
