.authTopbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  z-index: 10;
}

.authActions {
  display: flex;
  gap: 12px;
  margin-bottom: 60px;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.mainWithHeader {
  padding-top: var(--header-height-mobile);
}

@include tablet {
  .mainWithHeader {
    padding-top: var(--header-height-mobile);
  }
}

@include desktop {
  .mainWithHeader {
    padding-top: var(--header-height-mobile);
  }
}

.backdrop {
  position: fixed;
  inset: var(--header-height-mobile) 0 0 0;

  z-index: var(--z-backdrop);

  background: rgb(0 0 0 / 35%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity var(--transition-fast),
    visibility var(--transition-fast);
}

.backdropOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
