.authTopbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  box-sizing: border-box;
  z-index: 10;
}

.authActions {
  display: flex;
  gap: 12px;
}
