.passwordStrength {
  margin-top: 8px;

  &__wrapper {
    width: 100%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 6px;
    overflow: hidden;
  }

  &__bar {
    height: 100%;
    transition:
      width 0.3s ease,
      background-color 0.3s ease;

    &--weak {
      background-color: #e70518;
    }

    &--medium {
      background-color: #f5c542;
    }

    &--strong {
      background-color: #148a18;
    }
  }

  &__info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.9);

    &--error {
      color: #e70518;
    }

    &--rules {
      color: #16191d;
    }
  }

  &__rulesList {
    padding-left: 0;
    margin-top: 8px;
    font-size: 13px;
    animation: fadeIn 250ms ease-out;
    margin-left: 45px;
  }

  &__rulesItem {
    list-style: none;

    &--ok {
      color: #148a18;
      font-weight: 600;
      text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.9);

      &::before {
        content: "✔ ";
        color: #148a18;
      }
    }

    &--bad {
      color: #e70518;
      font-weight: 600;
      text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.9);

      &::before {
        content: "• ";
        color: #e70518;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
