@use "../styles/breakpoints.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background: #fff;
  color: #111;
  line-height: 1.5;
}

.container {
  width: 100%;
  padding-inline: 20px;
}

@media (min-width: $bp-tablet) {
  .container {
    padding-inline: 40px;
  }
}

@media (min-width: $bp-desktop) {
  .container {
    padding-inline: 80px;
  }
}
