.hero {
  height: 600px;
  background-size: cover;
  background-position: center 15%;
  display: flex;
  align-items: flex-end;

  &__content {
    background: rgba(0, 0, 0, 0.45);
    color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 25px;
  }
  &__head {
    font-size: 38px;
    text-align: center;
    margin-bottom: 0px;
    color: #f1efef;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }

  &__description {
    margin: 0px;
    text-align: center;
    color: #f1efef;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
}
